@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/worksans-regular-webfont.woff2') format('woff2'), url('../fonts/work-sans/worksans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/worksans-italic-webfont.woff2') format('woff2'), url('../fonts/work-sans/worksans-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/worksans-medium-webfont.woff2') format('woff2'), url('../fonts/work-sans/worksans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/work-sans/worksans-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/work-sans/worksans-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

html, body {
    font-family: 'Work Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1.ui.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
}

h2.ui.header {
    font-family: 'Work Sans';
    font-weight: 500;
    font-style: italic;
}

#root {
    width: 100%;
    min-height: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

header {
    background-color: #322ca5;
    width: 100%;
    min-height: 33vh;
    margin: 0 auto;
    padding: 0px 30px 2px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

#slideshow, .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.slide {
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 1500ms;
}

.slide.show {
    opacity: .6;
}

#hero {
    flex: 1 0 auto;
}

header h1, nav {
    flex-shrink: 0;
    z-index: 2;
}

header h1.ui.header {
    text-align: center;
    color: #FFF;
}

.ui.inverted.blue.menu, .ui.inverted.menu .blue.active.item {
    background-color: transparent;
    border: none;
}

nav a {
    background-color: none;
    border: none;
    border: 2px solid transparent;
}

nav a, nav a.active {
    transition: 200ms !important;
    font-family: 'Work Sans';
    font-weight: 400;
}

article {
    padding: 60px 20px;
    flex: 1 0 auto;
}

section {
    padding: 20px 15px;
}

footer {
    width: 100%;
    margin: 0 auto !important;
    padding: 30px 30px 20px;
    flex-shrink: 0;
    background-color: #322ca5;
}

#footerLogoContainer {
    text-align: center;
    padding: 40px;
}

footer .logo {
    width: 100%;
    max-width: 300px;
}

footer .ui.form .field>label {
    color: #FFF;
}

#contactSubmit {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

footer .btn {
    display: inline-block;
    margin: 0 !important;
}

#contactMessage {
    color: #FFF;
    display: inline-block;
    margin: 0 15px;
}

fieldset {
    border: none;
    padding: 0;
}